{% extends "base.html" %}

{% block body %}
<!-- #####################   Otto 100   ##################### -->
<div class="nipper">
    <background-text> Otto 100 </background-text>
    <div class="A1">
        <form align="middle" method="post" action="/otto">
            <input align="right" type="submit" value="Pick up @ Kardex" name="ooneA1"  />
        </form>
    </div>
    <div class="A2">
        <form method="post" action="/otto">
        <input type="submit" value="Pick up @ MPX" name="ooneA2"/>
        </form>
    </div>
    <div class="B1">
          <form method="post" action="/otto">
        <input type="submit" value="充電する" name="ooneB1"/>
        </form>
    </div>
    <div class="B2">
        <form method="post" action="/otto">
        <input type="submit" value="Go To Parking" name="ooneB2"/>
        </form>
    </div>
    <div class="C1"></div>
    <div class="C2"></div>
    
    <!-- Battery Level Otto 100 -->
      {% if bo_level > 85 %}
    <div class="b_full">
      <div class="battery_body"><h4 style="color:white; position:absolute; top:40px; left:16px;">{{bo_level}}%</h4></div>
      <div class="battery_plus"></div>
    </div>
    {% elif bo_level > 65 and bo_level < 86 %}
    <div class="b_seventyfive">
      <div class="battery_body"><h4 style="color:white; position:absolute; top:40px; left:16px;">{{bo_level}}%</h4></div>
      <div class="battery_plus"></div>
      <div class="seventyfive"></div>
    </div>
    {% elif bo_level > 55 and bo_level < 66 %}
    <div class="b_fifty">
      <div class="battery_body"><h4 style="color:white; position:absolute; top:40px; left:16px;">{{bo_level}}%</h4></div>
      <div class="battery_plus"></div>
      <div class="fifty"></div>
    </div>
    {% elif bo_level > 35 and bo_level < 56 %}
    <div class="b_forty">
      <div class="battery_body" style="background-color:white;"><h4 style="color:white; position:absolute; top:40px; left:16px;">{{bo_level}}%</h4></div>
      <div class="battery_plus"></div>
      <div class="forty"></div>
    </div>
    {% elif bo_level < 36 %}
    <div class="b_recharge">
      <div class="battery_body" style="background-color:white;"><h4 style="color:white; position:absolute; top:40px; left:16px;">{{bo_level}}%</h4></div>
      <div class="battery_plus"></div>
      <div class="recharge"></div>
    </div>
    {% else %}
    <div class="b_offline">
      <div class="battery_body" style="outline: 5px solid grey; background-color: white;"></div>
      <div class="battery_plus" style="background-color:grey;"></div>
      <div class="offline"></div>
    </div>
    {% endif %}
</div>
<!-- #####################   Otto 1500   ####################-->
<div class="mpx">
    <background-text>Otto 1500</background-text>
    <div class="A1">
        <form align="middle" method="post" action="/otto">
            <input align="right" type="submit" value="Park @ Kardex" name="ofifthA1"  />
        </form>
    </div>

    <div class="A2">
        <form method="post" action="/otto">
        <input type="submit" value="抜き取る" name="nipperA2"/>
        </form>
    </div>
    <div class="B1">
          <form method="post" action="/otto">
        <input type="submit" value="Park @ MPX" name="ofifthB1"/>
        </form>
    </div>

    <div class="B2">
        <form method="post" action="/otto">
        <input type="submit" value="挿入する" name="nipperB2"/>
        </form>
    </div>
    <div class="C1"></div>
    <div class="C2"></div>


<!-- Battery level for OTTO 1500 --> 
      {% if bf_level > 85 %}
    <div class="b_full">
      <div class="battery_body"><h4 style="color:white; position:absolute; top:40px; left:16px;">{{bf_level}}%</h4></div>
      <div class="battery_plus"></div>
    </div>
    {% elif bf_level > 65 and bf_level < 86 %}
    <div class="b_seventyfive">
      <div class="battery_body"><h4 style="color:white; position:absolute; top:40px; left:16px;">{{bf_level}}%</h4></div>
      <div class="battery_plus"></div>
      <div class="seventyfive"></div>
    </div>
    {% elif bf_level > 55 and bf_level < 66 %}
    <div class="b_fifty">
      <div class="battery_body"><h4 style="color:white; position:absolute; top:40px; left:16px;">{{bf_level}}%</h4></div>
      <div class="battery_plus"></div>
      <div class="fifty"></div>
    </div>
    {% elif bf_level > 35 and bf_level < 56 %}
    <div class="b_forty">
      <div class="battery_body" style="background-color:white;"><h4 style="color:white; position:absolute; top:40px; left:16px;">{{bf_level}}%</h4></div>
      <div class="battery_plus"></div>
      <div class="forty"></div>
    </div>
    {% elif bf_level < 36 %}
    <div class="b_recharge">
      <div class="battery_body" style="background-color:white;"><h4 style="color:white; position:absolute; top:40px; left:16px;">{{bf_level}}%</h4></div>
      <div class="battery_plus"></div>
      <div class="recharge"></div>
    </div>
    {% else %}
    <div class="b_offline">
      <div class="battery_body" style="outline: 5px solid grey; background-color: white;"></div>
      <div class="battery_plus" style="background-color:grey;"></div>
      <div class="offline"></div>
    </div>
    {% endif %}
</div>






{% endblock %}
